## Домашнее задание 14.11

Небольшое задание, чтобы освоиться с jupyter и numpy и немного покрутить в руках pandas

Маленькое объявление, у гита есть почти свой привязанный к репозиторию чат на gitter.im, для этого репа он находится по ссылке https://gitter.im/odessa_ds/Lobby

Импорты нужных модулей обычно втыкают в начало тетрадки

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
arr = np.array([15, 10, 17, 16, 17, 17,  4,  
                3, 14, 19, 17, 13,  4,  2, 
                12,  5,  8, 6,  4, 17, 13, 
                15, 16,  3,  2])

Посчитайте минимум, максимум, среднее, сумму методами numpy

In [ ]:
# your code here

Сделайте из массива выше матрицу 5х5 и посчитайте её определитель и сумму по строкам

In [ ]:
# your code here

Загрузим данные из train.csv датасета Титаника

In [ ]:
path_to_titanic = '...' # path to train.csv file here
data = pd.read_csv(path_to_titanic)

In [ ]:
data.head()

Посчитайте средний возраст пассажира в зависимости от порта в котором пассажир сел в Титаник (переменная Embarked)

In [ ]:
# your code here

Посчитайте среднюю стоимость билета (Fare) в зависимости от класса обслуживания пассажира (Pclass)

In [ ]:
# your code here